<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/setlist/setlist.css">
    <link rel="stylesheet" href="/setlist/show.css">
    <title>
        <%=song.title%>
    </title>
</head>

<body>
    <h1>
        <%=song.title%>
    </h1>
    <table>

        <tr>
            <td>Artist(s):</td>
            <td>
                <%=song.artist%>
            </td>
        </tr>
        <tr>
            <td>Genre(s):</td>
            <td>
                <%=song.genre.join(', ')%></td></tr>
    <tr><td>Duration:</td><td> <%=song.duration%></td></tr>
    <tr><td>Religious Affilation:</td><td> <%=song.religion%></td></tr>
</table>
  
    <nav>
    <form action="/setlist/<%=song._id%>?_method=DELETE" method="POST">
        <input type="submit" value="delete">
    </form>
    
        
            <a href="/setlist/<%=song._id%>/edit"><button>edit</button></a>
        
        <a href="/setlist"><button>back</button></a>

    </nav>
</body>
</html>